**/node_modules/**
**/out/**
**/dist/**
ui/tests/results

cli/*.tgz
notes.md
.gitcommit
.DS_Store
.evidence
.svelte-kit
*.duckdb

**/.vscode/settings.json
vscode/*.vsix
vscode/LICENSE.md

CLAUDE.md
.env
