**/node_modules/**
**/out/**
**/dist/**
ui/tests/results

cli/*.tgz
create/*.tgz
notes.md
todo.md
.gitcommit
.DS_Store

**/.vscode/settings.json
vscode/*.vsix
vscode/LICENSE.md

CLAUDE.md
.claude
.env
